.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 6rem;
  padding: 2rem 0;
  background-color: $primaryColor;

  @include responsive(toSmall) {
    flex-direction: column;
  }

  &__primaryTitle {
    opacity: 0.6;
    padding-left: 0.5rem;
    transition: opacity 0.3s ease-in-out;
  }
}
